@import 'normalize.styl'
@import 'forms.styl'
@import '../layout/layout.styl'
@import '../theme/color.styl'

#header
  width: 100%;

body
  background-color $white_base;
  font-family 'Open Sans', sans-serif;
  height 100%;
  min-width 700px;

h1
  font-size 3em;

h2
  font-size 2.5em;

h3
  font-size 1em;
h4
  display: inline-block;
  font-size: 1.5em;
  margin: 0;
  width: 100px;

p
  font-size 2em;

select
  min-width 80px;

textarea
  min-width 250px;
  max-width 750px;

// .sign span
//   color: $blue_logo;
//   font-weight: 500;
//
// .S_A span
//   color: $blue_logo;
//   font-weight: 500;

span
  color: $blue_logo;
  font-weight: 500;

.list1 span
  font-size: 1em
  font-weight: 500;

#logo
  display inline-block;
  height 150px;
  padding-top 1em;
  width 150px;

#title
  display inline-block;
  margin-left 15%;
  margin-right auto;
  width 40%

.contenedor
  height: 100vh;
  margin 50px 10% auto 10%;
  width 80%;

.welcome-contenedor
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


.operators-contenedor
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;

// .new_operator
//   display: flex;
//   flex-wrap: wrap;
//   align-items: flex-start;
//   flex-direction: column;

.trucks-contenedor
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

.new_truck
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;

.services-contenedor
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;


.sort_link
  margin: 20px 0 40px 0;

.resultado-services
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

// .new_service
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   flex-direction: column;

.assistances-contenedor
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

.resultado-assistances
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  // .new_assistance
  //   display: flex;
  //   flex-wrap: wrap;
  //   align-items: flex-start;
  //   flex-direction: column;

.inventories-contenedor
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

.resultado-inventories
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

.routes-contenedor
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

.new_route
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;

// .service_search input[type=submit], .assistance_search input[type=submit], .inventory_search input[type=submit]
//   display: block;
//   margin-bottom: 20px

// Para que los botones de la pagina del index tengan el mismo tamaño
.index_button
  width 150px;

.index_logo
  background-color $blue_logo;
  margin auto;
  padding 0 0;
  &:hover
    background-color $blue_logo;

.white
  color $white_base;

.left ul
  list-style: none;
  padding-left: 0;

.rigth ul
  list-style: none;
  padding-left: 0;

.operators-contenedor > a, .trucks-contenedor > a, .routes-contenedor
  margin-top: 20px;

.list1 ul
  display: flex;
  padding-left: 0;

.list1 li
  list-style: none;
  font-size: 1.5em;
  // &:first-child
  //   min-width: 350px;
  // &:last-child
  //   margin-left: 10px;

.operators-contenedor > .list1 li
  list-style: none;
  font-size: 1.5em;
  &:first-child
    min-width: 350px;
  &:last-child
    margin-left: 10px;

.trucks-contenedor > .list1 li
  list-style: none;
  font-size: 1.5em;
  min-width: 100px;
  &:first-child
    min-width: 200px;
  &:nth-child(3)
    min-width: 150px;
  &:last-child
    margin-left: 10px;

.routes-contenedor > .list1 li
  list-style: none;
  font-size: 1.5em;
  min-width: 150px;
  &:last-child
     width: auto;

.list1 li > a
  font-size: 1em;
  padding: 7px 10px;

.list2 li
  list-style: none;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;


.list3
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  // align-items: center;

.list3 ul
  list-style: none;

.list3 li
  min-width: 210px;

.list3 ul,li
  font-size: 1.2em;

.list3 li input
  font-size: 1em;
  width: 250px

.list3 li input[type=radio]
  width: 20px;

.list3 select
  margin: 5px 5px 5px 0;

.bigger-li
  //height: 42px;
  padding: 7px 0px;

.columnas
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

.column1, .column2, .column3
  display: flex;
  flex-direction: column;
  justify-content:  flex-start;

.registrar-izq
  display: flex;
  justify-content: flex-start;

.registrar-cen
  display: flex;
  justify-content: center;

.field
  //width: 250px;
  width: 350px;

// Estas son la barras de buscar de services y assistance
.campo_data, .campo_data2
  padding: 0.3em 0;
  border-bottom: solid;
  border-bottom-color: $gray_border;
  border-width: 1px;
  // 0.2em; //antes
  //width: 150px

.campo_data
  display: flex;
  flex-direction: column;
  flex-flow: wrap;


  //border-right: solid;
  border-width: 1px;
  padding-right 2.5%;
  width 200px;

.campo_data2
  display: flex;
  flex-direction: column;
  flex-flow: wrap;

  padding-left: 2.5%;
  width: 100px;

.detail a
  font-size 1em;
  padding 7px 10px;

.SN-contenedor
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px


.S_A
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

  //min-width: 100px;
  max-width: 300px;
  margin-bottom: 10px;
  margin-right: 20px;

.S_A > .detail
  display: flex;
  align-self: center;

  margin: 10px 10% 0 10%;
  //margin: 10px 0 0 0;
  padding: 7px 2px;




.mas_detalles
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;


.mas_detalles p
  font-size 1.5em;

.detalles
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

.detalle
  margin: 0 10px;
  width: 320px;
  //align-self: center;

.detalle-b
  //width: 320px;
  align-self: center;
  margin: 40px 0;

.detalle span
  color: $blue_logo;
  font-size 1.1em;
  font-weight: 500;



.h2-sign
  text-align: center;


#map-container
  width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

#map-container a
  background-color: transparent;

#map
  width 100%;
  height: 100vh;

.alert
  width: 100%;
  height: 2em;
  margin-top: 2em;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

.alert-notice
  background-color: $green_success
  border: 1px solid darken($green_success, 10)
  border-radius: 10px;
  color: $white_text;

.alert-error
  background-color: $red_chido
  border: 1px solid darken($red_chido, 10)
  border-radius: 10px;
  color: $white_text;

.alert-edit
  background-color: $blue_edit;
  border: 1px solid darken($blue_edit, 10)
  border-radius: 10px;
  color: $white_text;
