@import 'normalize.styl'
@import 'forms.styl'
@import '../layout/layout.styl'
@import '../theme/color.styl'

body
  background-color $white_base;
  font-family 'Open Sans', sans-serif;

.white
  color $white_base;

h1
  font-size 3em;

h2
  font-size 2.5em;

h3
  font-size 1em;

p
  font-size 2em;

#logo
  width 150px;
  height 150px;
  display inline-block;
  padding-top 1em;

#title
  display inline-block;
  margin-left 13.5em;
  padding-top 1.3em;
