@import 'normalize.styl'
@import 'forms.styl'
@import '../layout/layout.styl'
@import '../theme/color.styl'

body
  background-color $white_base;
  font-family 'Open Sans', sans-serif;
  height 100%;
  min-width 600px;

h1
  font-size 3em;

h2
  font-size 2.5em;

h3
  font-size 1em;

p
  font-size 2em;

select
  min-width 50px;

textarea
  min-width 250px;
  max-width 750px;

#logo
  display inline-block;
  height 150px;
  padding-top 1em;
  width 150px;

#title
  display inline-block;
  margin-left 15%;
  margin-right auto;
  width 30%

.contenedor
  height: 100vh;
  margin 100px 10% auto 10%;
  width 80%;

.welcome-contenedor
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


.operators-contenedor
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;

.new_operator
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;

.trucks-contenedor
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

.new_truck
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;

.services-contenedor
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

.resultado-services
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

// .new_service
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   flex-direction: column;

.assistances-contenedor
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

.resultado-assistances
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

// .new_assistance
//   display: flex;
//   flex-wrap: wrap;
//   align-items: flex-start;
//   flex-direction: column;

// Para que los botones de la pagina del index tengan el mismo tamaño
.index_button
  width 150px;

.index_logo
  background-color $blue_logo;
  margin auto;
  padding 0 0;
  &:hover
    background-color $blue_logo;

.white
  color $white_base;

.left ul
  list-style: none;
  padding-left: 0;

.rigth ul
  list-style: none;
  padding-left: 0;

.list1 ul
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 0;

.list1 li
  list-style: none;
  font-size: 1.5em;

.list2 li
  list-style: none;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;


.list3
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  // align-items: center;

.list3 ul
  list-style: none;

.list3 li
  min-width: 210px;

.list3 ul,li
  font-size: 1.2em;

.list3 li input
  font-size: 1em;
  width: 250px

.columnas
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

.column1, .column2, .column3
  display: flex;
  flex-direction: column;
  justify-content: space-around;

.registrar
  display: flex;
  justify-content: center;

.field
  width: 250px;

// Estas son la barras de buscar de services y assistance
.campo_data, .s_data2
  padding-top: 0.2em;

.campo_data
  display: flex;
  flex-direction: column;
  flex-flow: wrap;

  border-right: solid;
  border-width: 1px;
  padding-right 2.5%;
  width 100px;

.campo_data2
  display: flex;
  flex-direction: column;
  flex-flow: wrap;

  padding-left: 2.5%;
  width: 200px;

.detail a
  font-size 1em;
  padding 7px 10px;

.S_A
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

  max-width: 300px;
  margin-bottom: 10px;


.S_A > .detail
  display: flex;
  align-self: center;

  margin: 0 10% 0 10%;
  padding: 7px 2px;

.mas_detalles
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;


.mas_detalles p
  font-size 1.5em;

.detalles
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

.detalle
  margin: 0 10px;
  width: 320px;
  //align-self: center;

.detalle-b
  width: 320px;
  align-self: center;
  margin: 40px 0;

.detalle span
  color: $blue_logo;
  font-size 1.1em;
  font-weight: 500;

#map-container
  width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

#map-container a
  background-color: transparent;

#map
  width 100%;
  height: 100vh;
