@import '../theme/color.styl'

button
  background-color: $blue_button;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color:white;
  border-radius: 10px;
  &:hover
    background-color: $blue_button_hover;

input[type=text]
  border:none;
  font-weight: 400;
  font-size: 1.4em;
  border: 1px solid $bue_button;
  padding-left: 0.5em;

input[type=submit]
  background-color: $blue_button;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color:white;
  border-radius: 10px;
  &:hover
    background-color: $blue_button_hover;
