html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
  font-weight: 300;
  font-size: 14px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
a {
  background-color: #2949b0;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5em;
  margin: 5px 5px 5px 0;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}
a:hover {
  background-color: #1a2f73;
}
button {
  color: #fff;
  background-color: #2949b0;
  border: none;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
button:hover {
  background-color: #1a2f73;
}
input {
  margin: 5px 5px 5px 0;
}
input[type=text] {
  border: none;
  border: 1px solid #2949b0;
  font-weight: 400;
  font-size: 1.4em;
  padding-left: 0.5em;
}
input[type=submit] {
  color: #fff;
  background-color: #2949b0;
  border: none;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
input[type=submit]:hover {
  background-color: #1a2f73;
}
input[type=time] {
  max-width: 100px;
}
#header {
  background-color: #213164;
  height: 14em;
  width: 100%;
}
@media screen and (max-width: 550px) {
  #header h1 {
    font-size: 2.5em;
  }
}
body {
  background-color: #f5fcfb;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  min-width: 600px;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1em;
}
p {
  font-size: 2em;
}
select {
  min-width: 50px;
}
textarea {
  min-width: 250px;
  max-width: 750px;
}
#logo {
  display: inline-block;
  height: 150px;
  padding-top: 1em;
  width: 150px;
}
#title {
  display: inline-block;
  margin-left: 15%;
  margin-right: auto;
  width: 30%;
}
.contenedor {
  height: 100vh;
  margin: 100px 10% auto 10%;
  width: 80%;
}
.welcome-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.operators-contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.new_operator {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.trucks-contenedor {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.new_truck {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.services-contenedor {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.resultado-services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.assistances-contenedor {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.resultado-assistances {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.index_button {
  width: 150px;
}
.index_logo {
  background-color: #213164;
  margin: auto;
  padding: 0 0;
}
.index_logo:hover {
  background-color: #213164;
}
.white {
  color: #f5fcfb;
}
.left ul {
  list-style: none;
  padding-left: 0;
}
.rigth ul {
  list-style: none;
  padding-left: 0;
}
.list1 ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 0;
}
.list1 li {
  list-style: none;
  font-size: 1.5em;
}
.list2 li {
  list-style: none;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.list3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.list3 ul {
  list-style: none;
}
.list3 li {
  min-width: 210px;
}
.list3 ul,
li {
  font-size: 1.2em;
}
.list3 li input {
  font-size: 1em;
  width: 250px;
}
.columnas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.column1,
.column2,
.column3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.registrar {
  display: flex;
  justify-content: center;
}
.field {
  width: 250px;
}
.campo_data,
.s_data2 {
  padding-top: 0.2em;
}
.campo_data {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  border-right: solid;
  border-width: 1px;
  padding-right: 2.5%;
  width: 100px;
}
.campo_data2 {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  padding-left: 2.5%;
  width: 200px;
}
.detail a {
  font-size: 1em;
  padding: 7px 10px;
}
.S_A {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  max-width: 300px;
  margin-bottom: 10px;
}
.S_A > .detail {
  display: flex;
  align-self: center;
  margin: 0 10% 0 10%;
  padding: 7px 2px;
}
.mas_detalles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.mas_detalles p {
  font-size: 1.5em;
}
.detalles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.detalle {
  width: 320px;
}
.detalle-b {
  width: 320px;
  align-self: center;
}
.detalle span {
  color: #213164;
  font-size: 1.1em;
  font-weight: 500;
}
#map-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
#map-container a {
  background-color: transparent;
}
#map {
  width: 100%;
  height: 100vh;
}
