
<div class="operators-contenedor">
  <%= link_to 'Nuevo Operador', new_operator_path %>

  <% @operators.each do |operator| %>
  <div class="list1">
      <ul>
        <li><%= operator.name %></td>
      </ul>

  </div>
  <% end %>
</div>
