<h2 class="h2-sign">Operadores</h2>
<div class="SN-contenedor">
  <%= link_to 'Nuevo Operador', new_operator_path %>
</div>
<div class="operators-contenedor">

  <% @operators.each do |operator| %>
  <div class="list1">
      <ul>
        <li><%= operator.name %> <%= operator.lastname %></li>
        <li><%= link_to 'Editar', edit_operator_path(operator) %></li>
      </ul>
  </div>
  <% end %>

</div>
