
<div class="operators-contenedor">
  <%= link_to 'Nuevo Operador', new_operator_path %>

  <% @operators.each do |operator| %>
  <div class="list1">
      <ul>
        <li><%= operator.name %></li>
        <li><%= operator.lastname %></li>
        <li><%= link_to 'Editar', edit_operator_path(operator) %></li>
      </ul>
  </div>
  <% end %>
</div>
