<%= link_to 'Nuevo Operador', new_operator_path %>

<br>


<% @operators.each do |operator| %>
<div class="list1">
    <ul>
      <li><%= operator.name %></td>
    </ul>
    <br>
</div>
<% end %>
<br><br><br>
