<%= form_for @operator do |f| %>
  <div class="left">
  <ul>
  <li><div class="field">
    <%= f.text_field :name, placeholder: "Nombre" %>
    <%= f.text_field :lastname, placeholder: "Apellidos" %>
  </div>
</li>
</ul>
  </div>
<div class="rigth">
<ul>
<li><div class="field">
    <%= submit_tag("Ingresar Operador") %>
  </div>
</li>
</ul>
</div>
<%end%>
