<%= form_for @operator do |f| %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Nombre" %>
  </div>

  <div class="field">
    <%= submit_tag("Ingresar Operador") %>
  </div>
<%end%>
