<%= link_to 'Nueva Grua', new_truck_path %>

<br>

<% @trucks.each do |truck| %>
    <tr>
      <td><%= truck.number %></td>
      <td><%= truck.classification %></td>
      <td><%= truck.description %></td>
    </tr>
<% end %>


