<%= link_to 'Nueva Grua', new_truck_path %>

<br>

<% @trucks.each do |truck| %>
  <div class="list1">
    <ul>
      <li><%= truck.number %></li>
      <li><%= truck.classification %></li>
      <li><%= truck.description %></li>
    </ul>
    <br><br>
  </div>
<% end %>
